/* Dasar Halaman */
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: #f0f2f5; */
    margin: 0;
    padding: 0;
    /* color: #333; */
}

/* Kotak Utama Resume */
.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
}

/* Header */
header {
    margin-bottom: 20px;
    border-bottom: 2px solid #1a3a5a;
    padding-bottom: 10px;
}

h1 {
    font-size: 32px;
    margin: 0;
    color: #1a3a5a;
    /* text-transform: uppercase; */
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin: 5px 0 15px 0;
}

/* Baris Kontak */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 14px;
    align-items: center;
}

.contact-info a {
    text-decoration: none;
    color: #444;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Warna Ikon Ikon */
.icon-mail {
    color: #d44638;
}

.icon-wa {
    color: #25d366;
}

.icon-li {
    color: #0077b5;
}

.icon-map {
    color: #666;
}

.divider {
    color: #ccc;
}

/* Judul Section */
h2 {
    font-size: 20px;
    color: #1a3a5a;
    border-bottom: 2px solid;
    /* padding-bottom: 5px; */
    /* margin-bottom: 5px; */
    /* text-transform: uppercase; */
}

section {
    margin-bottom: 35px;
}

h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
    color: #333;
    padding-bottom: 0;
}

p{
    padding-bottom: 0;
}

.job-date {
    font-style: italic;
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
}
