/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Bagian Header */
header {
    margin-bottom: 40px;
    /* Jarak antara header ke konten pertama */
    border-bottom: 3px solid #1a3a5a;
    /* Garis dekorasi tebal di bawah header */
    padding-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1a3a5a;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Judul Section (Summary, Experience, dll) */
h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    /* Margin atas nol karena jarak sudah diatur di tag section */
    margin-bottom: 0px;
    color: #1a3a5a;
    display: inline-block;
    /* border-bottom: 2px solid #1a3a5a; */
    /* padding-bottom: 3px; */
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #333;
}

p,
li {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 10px;
}

/* Pengaturan Section agar Renggang */
section {
    margin-bottom: 45px;
    /* Ini yang membuat antar bagian jadi lega */
}

section:last-of-type {
    margin-bottom: 0;
}